/* colors */

$purple: #9B51E0;
$orange: #FFC740;
$dark_purple: #6d3d99;
$border_grey: #c4c4c4;
$white: #ffffff;

/* mixins */

@mixin article__heading-before {
    content: '';
    width: 1rem;
    height: 1rem;
    display: block;
    margin-right: 0.1rem;
    background-color: $purple;

}

@mixin article__heading-after {
    content: '';
    display: block;
    margin-left: 0.1rem;
    flex-grow: 1;
    background-color: $purple;

}

/* font-face */

@font-face {
    font-family: "robotoregular";
    src: url("../font/roboto-regular-webfont.woff2") format("woff2"),
      url("../font/roboto-regular-webfont.woff") format("woff"), url("../font/roboto-regular-webfont.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }

/* images */

$mountains-and-goats: url("../imgs/Mountains-and-hills.png");

/* keyframes */

@keyframes wave {
  0%, 100% {
    top: 0;
  }
  50% {
    top: -1.2rem;
  }
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(45deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  75% {
    transform: rotateY(135deg)
  }
  100% {
    transform: rotateY(180deg)
  }
}
